[user]
  email = 1610227+bennettp123@users.noreply.github.com
  name = Bennett Perkins

  # this will be different on each machine, so it should be a symlink
  # to the desired signing key.
  signingKey = ~/.ssh/git-signing-key.pub

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.gitallowedsigners

[core]
  excludesfile = ~/.gitignore-global

[color]
  ui = auto

[push]
  autoSetupRemote = true

[format]
  pretty = oneline

[log]
  abbrevCommit = true

[url "ssh://git@bitbucket.stibodx.com:7999/ccidist/cocoapods.git"]
  insteadOf = "https://jira.stibodx.com/stash/scm/ccidist/cocoapods.git"

[url "ssh://git@bitbucket.stibodx.com:7999/ccidist/cocoapods-rc.git"]
  insteadOf = "https://jira.stibodx.com/stash/scm/ccidist/cocoapods-rc.git"

[pull]
  ff = only

[url "git@github.com:West-Australian-Newspapers/stibodx-cocoapods.git"]
  insteadOf = "https://github.com/West-Australian-Newspapers/stibodx-cocoapods.git"

